@model IEnumerable<SMSLite.Models.Student>



<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Index", "Students", FormMethod.Get))
{
    <div class="">
        <label>Name: </label>
        @Html.TextBox("searchName", Request["searchName"], new { @class = "form-control", @style = "margin-right:5px" })

        <label>Department: </label>
        @Html.TextBox("searchDept", Request["searchDept"], new { @class = "form-control", @style = "margin-right:5px" })

        <input type="submit" value="Search" class="btn btn-primary" />
        @Html.ActionLink("Reset", "Index", "Students", new { @class = "btn btn-secondary", @style = "margin-left:5px" })
    </div>
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
